name: Auto-report action

on: 
  push:
    branches:
      - master
  schedule:
    - cron: '0 10,21 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run report script
      env:
        STUID: ${{ secrets.STUID }}
        PASSWORD: ${{ secrets.PASSWORD }}
        DATA_FILE: ${{ secrets.DATA }}
        BARK_URL: ${{ secrets.BARK_URL }}
      run: |
        echo "$DATA_FILE" > ./data.json
        python report.py data.json "$STUID" "$PASSWORD" && curl "$BARK_URL/GitHub Actions/健康打卡成功" || curl "$BARK_URL/GitHub Actions/健康打卡失败"
